:root {
  --primaryColor: #845ed3;
  --dark-primaryColor: #652ddd;
  --black: #1a1a1a;
  --likeColor: #dc5f64;
  --secondaryGrey: #4c4c4c;
}

p {
  margin: 0 !important;
}

body {
  background-color: var(--black);
  color: white;
}

.my-btn {
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.my-btn:hover,
.price:hover {
  color: white;
  background-color: var(--dark-primaryColor);
  border: 1px solid var(--dark-primaryColor);
}

.price {
  border: 1px solid var(--primaryColor);
  /* border-radius: 0.375rem; */
  border-radius: 6px;
  padding: 5px 13px;
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 500;
}

.bi.bi-star-fill,
.bi.bi-star-half,
.bi.bi-star {
  color: var(--primaryColor);
}
