body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #131212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #1a1a1a;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  margin-top: -10px;
}

.container {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}

svg {
  vertical-align: middle;
}

.social-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
  width: 60%;
  border-radius: 30px;
  vertical-align: middle;
}

.social-button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

hr {
  border-top: 1px solid rgb(65, 63, 63);
  margin: 20px 0;
}

p {
  margin: 10px 0;
}

input[type="email"],
input[type="password"] {
  height: 25px;
  width: 55%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid rgb(78, 75, 75);
  border-radius: 4px;
  background-color: rgb(37, 35, 35);
  color: white;
}

.switch-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 130px;
}

.inputBox {
  text-align: left;
  font-weight: 600;
  text-align: center;
}

.switch {
  position: relative;
  width: 30px;
  height: 15px;
  margin-right: 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #845ed3;
  transition: 0.4s;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 2px;
  top: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(11px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

.accedi-button {
  background-color: #845ed3;
  color: black;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 60%;
  border-radius: 30px;
}

.accedi-button:hover {
  background-color: #845ed3;
}

a {
  color: white;
}
