:root {
  --logInTab-minWidth: 300px;
  --logInTab-maxWidth: 400px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #131212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputForm {
  height: 40px;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid rgb(78, 75, 75);
  border-radius: 4px;
  background-color: rgb(37, 35, 35);
  color: white;
  border: none;
}
.inputForm:focus {
  background-color: rgb(37, 35, 35);
  color: white;
  border: none;
}
.accedi-button {
  background-color: #845ed3;
  color: black;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 60%;
  border-radius: 30px;
}
.accedi-button:hover {
  background-color: #845ed3 !important;
}

a {
  color: white;
}

h1 {
  margin-bottom: 100px !important;
  color: #845ed3;
}
h2 {
  margin-bottom: 20px;
}
#logInTab {
  color: white;
  min-width: var(--logInTab-minWidth);
  max-width: var(--logInTab-maxWidth);
  position: relative;
  padding-top: 100px !important;
}

#imgLogInTab {
  border-radius: 75px;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: auto;
  position: absolute;
  z-index: 4;
  top: -75px;
  left: 50%;
  margin-left: -75px;
  padding: 0;
  box-shadow: 0 0 10px 2px #845ed3;
}

span:hover {
  opacity: 0.5;
}
